Source: liboce
Priority: extra
Maintainer: Henning Meyer <hmeyer@gmx.eu>
Build-Depends: cdbs, debhelper (>= 7), cmake, libxmu-dev, libfreetype6-dev, libftgl-dev
#, libtbb-dev, libfreeimage-dev
Standards-Version: 3.9.1
Section: libs
Homepage: https://github.com/tpaviot/oce

Package: liboce
Architecture: any
Depends: ${misc:Depends}, libxmu6, libfreetype6, libftgl2
Description: oce stands for *o*pencascade *c*ommunity *e*dition.
 This project aims at gathering patches/changes/improvements from the OCC community over the latest release (currently OCCT 6.5.1).

Package: liboce-dev
Architecture: all
Depends: liboce (= ${binary:Version})
Description: oce stands for *o*pencascade *c*ommunity *e*dition.
 This project aims at gathering patches/changes/improvements from the OCC community over the latest release (currently OCCT 6.5.1).
