#!/usr/bin/make -f

CMAKE ?= cmake
DEB_CMAKE_INSTALL_PREFIX ?= /usr
DEB_CMAKE_NORMAL_ARGS ?= -DCMAKE_INSTALL_PREFIX="$(DEB_CMAKE_INSTALL_PREFIX)" -DCMAKE_C_COMPILER:FILEPATH="$(CC)" -DCMAKE_CXX_COMPILER:FILEPATH="$(CXX)" -DCMAKE_C_FLAGS="$(CFLAGS)" -DCMAKE_CXX_FLAGS="$(CXXFLAGS)" -DCMAKE_SKIP_RPATH=ON -DCMAKE_VERBOSE_MAKEFILE=ON
export DH_VERBOSE=1
DESTDIR=$(CURDIR)/debian/tmp
DEB_SRCDIR=src

DEB_MAKE_BUILD_TARGET += -j4

clean:
	rm -rf $(DESTDIR)

$(DESTDIR)/CMakeCache.txt:
	cd $(DESTDIR) && $(CMAKE) $(CURDIR)/$(DEB_SRCDIR) $(DEB_CMAKE_NORMAL_ARGS) $(DEB_CMAKE_EXTRA_FLAGS)

build: $(DESTDIR)/CMakeCache.txt

%:
	dh $@

.PHONY: clean build 
